@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  /* background: #f4f4f4; */
  width: 800px;
  overflow-x: hidden;
}
.popup-handlers{
  padding: 10px; 
  display: flex; 
  justify-content: center;
}
#popup-handler1{
  width: 30%; 
  background-color: #a7d2d6; 
  /* color: white;  */
  margin-right: 25px;
}
#popup-handler2{
  width: 30%; 
  background-color: #a7d2d6; 
  /* color: white;  */
  margin-left: 25px;
}
#popup-handler1-content,
#popup-handler2-content{
  display: none;
}
.wrapper-popup{
  width: 100%;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
}

.wrapper-popup .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #a7d2d6;
  text-transform: uppercase;
  text-align: center;
}

.wrapper-popup .form{
  width: 100%;
}

.wrapper-popup .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper-popup .inputfield label{
   width: 220px;
   color: #757575;
   margin-right: 0px;
  font-size: 10px;
}

.wrapper-popup .inputfield .input,
.wrapper-popup .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 4px 6px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper-popup .inputfield .textarea{
  width: 100%;
  height: 80px;
  resize: none;
}

.wrapper-popup .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper-popup .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper-popup .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.wrapper-popup .inputfield .input:focus,
.wrapper-popup .inputfield .textarea:focus,
.wrapper-popup .inputfield .custom_select select:focus{
  border: 1px solid #a7d2d6;
}

.wrapper-popup .inputfield p{
   font-size: 14px;
   color: #757575;
}
.wrapper-popup .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
  margin-right: 10px;
}
.wrapper-popup .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.wrapper-popup .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #a7d2d6;
  display: block;
  position: relative;
}
.wrapper-popup .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 4px;
  left: 2px;
  width: 8px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.wrapper-popup .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #a7d2d6;
}

.wrapper-popup .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.wrapper-popup .inputfield .btn{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #a7d2d6;
  /* color: #fff; */
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper-popup .inputfield .btn:hover{
  background: #a7d2d6;
}
/* .wrapper-popup .inputfield .btn{
  width: 20%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #a7d2d6;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  margin-left: 15px;
}

.wrapper-popup .inputfield .btn:hover{
  background: #a7d2d6;
}
 */
.wrapper-popup .inputfield:last-child{
  margin-bottom: 0;
}
.wrapper-popup .inputfield p{
  margin-top: 10px;
  margin-right: 12px;
}

@media (max-width:420px) {
  .wrapper-popup .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper-popup .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper-popup .inputfield.terms{
    flex-direction: row;
  }
}


#popup-handler2-content button{
  background-color: #a7d2d6;
  margin-top: 6px;
  margin-right: 5px;
  /* color: white; */
}